.coffee-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20rem;
  padding-bottom: 10rem;
  gap: 0.1rem;
}

.coffee-page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9rem;
  gap: 0.4rem;
}

.coffee-page-sub-heading {
  padding-left: 2rem;
}

.description {
  font-size: 1.2rem;
}

.page-content-top {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.9rem;
}

.page-content-middle {
  display: flex;
  justify-content: space-between;
  width: 46.875rem;
  height: auto;
  padding: 0.625rem 1.5625rem;
  gap: 0.4rem;
}

.amenities {
  margin-bottom: 0.625rem;
}

@media (max-width: 768px) {
  .coffee-page {
    padding: 0rem 1rem;
    padding-bottom: 10rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .coffee-page{
    padding: 0rem 5rem;
    padding-bottom: 50rem;
  }
  .page-content-middle{
    width: 35.5rem;
  }
}
