.coffee-shop-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  background-color: #3f2c24;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .coffee-shop-card {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.coffee-shop-name {
  font-size: 2.5rem;
}

.coffee-shop-info {
  font-size: 1.6rem;
}

.coffee-shop-card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: end;
  text-align: left;
}
