.hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 21.875rem;
  font-size: 1.25rem;
}

@media (min-width: 1024px) and (max-width: 1490px) {
  .hours{
    width: 12rem;
    font-size: 1.1rem; 
  }
}
