.star-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3125rem;
  }
  
  .star {
    background-color: #3f2c24;
    font-size: 1.25rem;
    width: 1.875rem;
    height: auto;
    padding: 0.25rem;
    border-radius: 0.5rem;
    text-align: center;
  }
  
  .sub-rating {
    font-size: 1.5625rem;
    text-align: center;
  }
  