.review-card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 10px;
}

.review-card {
  background-color: #3f2c24;
  color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.review-card:hover {
  transform: translateY(-2px);
} 

@media (min-width: 1024px) and (max-width: 1279px) {
  .review-card{
    padding: 0.5rem
  }
}