.review-container {
  width: 45.3125rem;
  display: flex;
  flex-direction: column;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.review-content {
  padding-top: 0.625rem;
  padding-left: 1.5625rem;
  font-size: 1.25rem;
  overflow-y: auto;
  height: 34.375rem;
}

.review-button {
  padding: 0.5rem;
  color: white;
  background-color: #3f2c24;
  border-radius: 0.9375rem;
  border: none;
  font-family: Caveat, Roboto;
  font-size: 1.125rem;
  cursor: pointer;
}

.review-button-container {
  display: flex;
  width: 100%;
  gap: 0.625rem;
}



@media (min-width: 1024px) and (max-width: 1500px) {
  .review-container{
    width: 34.5rem;  
  }
  .review-content{
    font-size: 1.1rem;
  }
  .review-button{
    font-size: 1.1rem
  }
}